.table-container {
    width: 98%;
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid black;
}


table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 10px;
    border: 1px solid #ccc;
}

.eskaerak{
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

.edit{
    width: 60%;
}

td.action {
    width: 1%;
    white-space: nowrap;
    text-align: center;
}

.erakutsiBotoia{
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}

.erakutsiBotoia button{
    background-color: rgb(144, 248, 248);
    margin-left: 1em;
    border-radius: 0.25em;
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-right: 0.5em;
}

.erakutsiBotoia button:hover{
    background-color: rgb(41, 206, 218);
    margin-left: 1em;
    transform: scale(1.05); /* Aumenta el tamaño del botón al 110% */
    box-shadow: 5px 2.5px 10px black;
}

.erakutsiDiv{
    margin-bottom: 1em;
}
